.login_page{
    max-width: 500px;
    margin: auto;
    color: #444;
    padding: 0 15px;
    
}
.login_page h2{
    text-transform: uppercase;
    color: red;
    
}
.login_page label{
    text-transform: uppercase;
    font-weight: bold;
}
.login_page input{
    width: 95%;
    height: 45px;
    margin: 10px 0;
    border: 2px solid #777;
    outline: none;
    padding: 0 10px;
}
.login_page button{
    width: 95%;
    height: 45px;
    text-transform: uppercase;
    margin: 20px 0;
    background-color: black;
    color: white;
}
.row{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}