.header{
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
.wrap-header{
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    font-size: 20px;
    font-weight: bold;
    font-family: emoji;
    color: red;
    cursor: pointer;
    padding: 30px 0px;
}
.header a{
    color: #205b5e;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.header ul{
    display: flex;
    margin-top: 15px;
}
.header ul li{
    margin: 0 10px;
    
}
.header .menu{
    display: none;
}
.drop-nav{
    display: flex;
    position: relative;
}
.avatar{
    width: 30px;
    overflow: hidden;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
    bottom: 5px;
    margin-right: 4px;
}
.drop-nav ul{
    position: absolute;
    background: #acbbda;
    top: 10px;
    left: 30px;
    padding-right: 20px;
    flex-direction: column;
    display: none;
}
.drop-nav:hover .dropdown{
    display: block;
}
